// Body Styles 
body,
html, 
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000000 !important;
}

.header {
  background: linear-gradient(rgb(218,0,54), rgb(218,0,54) 50%, rgb(144,0,36) 100%);
  background-color: linear-gradient(rgb(218,0,54), rgb(218,0,54) 50%, rgb(144,0,36) 100%);
  height: 155px;
  width: 100%;
  & > tbody > tr > th {
    vertical-align: middle;
    padding: 20px !important;
    & > table {
      width: 200px;
    }
  }
}

.order-details {
  .order-details-row {
    border-bottom: 2px solid $color-border;
    .order-details-column {
      & > table > tbody > tr > th {
        padding: 25px 20px;
        & > h5 {
          font-weight: 700;
          text-transform: capitalize;
          font-size: 22px;
          line-height: 1;
          letter-spacing: 1.2px;
        }
      }
      .matinee {
        & .columns > table > tbody > tr > th {
          padding: 20px 20px 0px 20px;
        }
        h4 {
          font-size: 28px;
          font-weight: 800;
          letter-spacing: 1.5px;
        }
        h5 {
          font-size: 22px;
          font-weight: 700;
          letter-spacing: 1.1px;
          margin-bottom: 10px;
        }
        h6 {
          font-weight: 700;
          margin-top: 7px;
          a {
            font-weight: 700;
            letter-spacing: 1px;
            text-decoration: underline;
            color: $link-blue;
          }
        }
      }
      .qr-phone-row {
        & .columns > table > tbody > tr > th {
          padding: 0 20px;
        }
        .qr-phone {
          width: 10%;
          vertical-align: middle;
          img {
            width: 100%;
            height: 100%;
          }
        }
        h6 {
          font-weight: 700;
          margin-left: -25px !important;
          hyphens: none;
        }
      }
      .clean-row {
        & .columns > table > tbody > tr > th {
          padding: 0 20px;
        }
        h6 {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        p {
          font-size: 15px;
          font-weight: 300;
          margin-bottom: 20px;
          hyphens: none;
          span {
            font-weight: 600;
          }
        }
        a {
          font-size: 18px;
          font-weight: 700;
          text-decoration: underline;
          color: $link-blue;
          letter-spacing: 1.1px;
        }
      }
    } 
  }
}

.purchase-details {
  border-bottom: 2px solid $color-border;
  .purchase-main-column{
    & > table > tbody > tr > th {
      padding: 25px 20px;
      & > h5 {
        font-weight: 700;
        text-transform: capitalize;
        font-size: 22px;
        line-height: 1;
        letter-spacing: 1.2px;
      }
    }
    .purchase-details-row {
      & > tbody > tr > th > table > tbody > tr > th {
        padding: 20px 20px 0 20px;
        & > h6 {
          font-weight: 700;
          margin-top: 4px;
          a {
            font-weight: 700;
            letter-spacing: 1px;
            text-decoration: underline;
            color: $text-red;
          }
        }
      }
      .movie-row {
        margin-top: 13px;
        .cover-column {
          width: 31%;
        }
        .movie-info-column {
          padding-left: 20px;
          .movie-title {
            border-bottom: 2px solid $color-border;
            & > tbody > tr > th {
              padding-bottom: 15px;
            }
            h5 {
              font-size: 20px;
              font-weight: 700;
              margin-bottom: 10px;
              display: block;
              img {
                height: 12px;
                display: inline-block;
                vertical-align: middle;
              }
            }
            p {
              font-size: 18px;
              line-height: 1.5;
              font-weight: 300;
            }
          }
          .qr-row {
            & > tbody > tr > th {
              padding-top: 20px;
            }
            .qr-code {
              width: 25%;
              img {
                border: 1px solid $black;
                border-radius: 50%;
              }
            }
            .auditorium-column {
              & > table > tbody > tr > th {
                padding-left: 20px;
              }
              p {
                font-size: 16px;
                margin-bottom: 10px;
                line-height: 1.2;
                font-weight: 300;
                span {
                  font-weight: 600;
                }
              }
              .ticket-total {
                color: $text-red;
              }
            }
          }
        }
      }
      .pre-order-row {
        .pre-order-spacer-column {
          width: 31%;
        }
        .pre-order-column {
          padding: 15px 0 10px 20px;
          a {
            border: 1px solid $black;
            color: $black;
            padding: 8px 20px;
            border-radius: 20px;
            font-size: 18px;
            font-weight: 600;
          }
        }
      } 
    }
  }
}

.summary-section {
  border-bottom: 2px solid $color-border;
  .summary-main-column {
    & > table > tbody > tr > th {
      padding: 25px 20px;
      & > h5 {
        font-weight: 700;
        text-transform: capitalize;
        font-size: 22px;
        line-height: 1;
        letter-spacing: 1.2px;
      }
    }
    .summary-row {
      .summary-column {
        & > table > tbody > tr > th {
          padding: 20px 20px 0 20px;
        }
        p {
          font-size: 15px;
          margin-bottom: 10px;
          line-height: 1;
          font-weight: 300;
          span{
            font-weight: 600;
          }
        }
        h6 {
          font-size: 17px;
          line-height: 1;
          margin-bottom: 30px;
          color: $text-red;
          span {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.theatre-info-section {
  border-bottom: 2px solid $color-border;
  .theatre-info-main-column {
    & > table > tbody > tr > th {
      padding: 25px 20px;
      & > h5 {
        font-weight: 700;
        text-transform: capitalize;
        font-size: 22px;
        line-height: 1;
        letter-spacing: 1.2px;
        margin-bottom: 15px;
      }
      & > p {
        font-weight: 300;
      }
    }
    .theatre-info-row {
      .theatre-info-column {
        & > table > tbody > tr > th {
          padding: 20px 20px 10px 20px;
        }
        h6 {
          font-weight: 600;
          letter-spacing: 1.2px;
        }
        p {
            font-weight: 300;
            line-height: 1.3;
        }
        .phone-number {
          font-weight: 600;
          margin: 10px 0 25px 0;
        }
        a {
          border: 1px solid $black;
          color: $black;
          padding: 8px 20px;
          border-radius: 20px;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}

.change-plans-section {
  border-bottom: 2px solid $color-border;
  .change-plans-main-column {
    & > table > tbody > tr > th {
      padding: 25px 20px;
    }
    h6 {
      font-weight: 600;
      line-height: 1;
      margin-bottom: 15px;
    }
    p {
      font-weight: 300;
      margin-bottom: 15px;
    }
    a {
      color: $link-blue;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

.footer {
  background: $black !important;
  background-color: $black !important;
  .footer-main-column {
    .footer-top {
      height: 201px !important;
      .footer-logo-row {
        height: 120px !important;
        border-bottom: 1px solid $color-border-footer;
        .footer-logo {
          vertical-align: middle;
          & > table {
            width: 180px !important;
            margin: 0 auto !important;
          }
          img { 
            width: 100% !important;
          }
        }
      }
      .social-icons-row {
        height: 80px !important;
        .social-icons {
          vertical-align: middle;
          & > table > tbody > tr > th {
            text-align: center;
            padding: 0;
            margin: 0;
          }
          a {
            display: inline-block;
            img {
              height: 35px;
              margin: 0 12px;
            }
          }
        }
      }
    }
    .footer-mid {
      background: $bg-gray !important;
      background-color: $bg-gray !important;
      .footer-mid-column {
        .no-refund-row {
          border-bottom: 2px solid $color-border-footer;
          height: 90px !important;
          & > tbody > tr > th {
            vertical-align: middle;
          }
          p {
            text-align: center;
            color: $text-white;
            font-size: 12px;
            line-height: 2;
          }
        }
        .contact-row {
          height: 80px !important;
          & > tbody > tr > th {
            vertical-align: middle;
          }
          .contact-links {
            & > table > tbody > tr > th {
              text-align: center;
              color: $text-white;
            }
            a {
              font-size: 14px;
              margin: 0 20px;
              color: $text-white;
            }
          }
        }
      }
    }
    .footer-bottom {
      background: $black;
      background-color: $black;
      .copy {
        p {
          text-align: center;
          margin-top: 20px;
          color: $text-white;
        }
      }
    }
  }
}